.blacko{
  background-image: url(wow.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  
}

.nagg{
  color: #FF35B8;
  text-align: center;
  display: inline-block;
  font-family: Arial;
  font-size: 50px;
  font-style: solid;
  margin: 450px 0px 300px 270px;
  border: white;
  border-color: white;
  border-radius: 15px;
  background-color: white;
  padding: 1%;
}